<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umc.playkuround"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="플레이쿠라운드-프로젝트X"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Playkuround"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Map2Activity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OutroActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChooseCharacterActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MiniGameWindowActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MiniGameBreakOutActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MiniGameTicTacToeActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InputNameActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ConfirmNameActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.IntroActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MiniGameTypingActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.MiniGameAvoidActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>